<html>

<head>
    <title>{{ title }}</title>
</head>

<body>
    <h1 class="outline title">{{ title }}</h1>
    <ul class="outline container">
    {%- for entry in entries -%}
        <li class="line">
            <a href="{{ entry.id }}/{{ index_file }}">{{ entry.name }}</a>
        </li>
    {%- endfor -%}
    </ul>
</body>

</html>